<form action="http://localhost:8080/products" method="post" enctype="application/x-www-form-urlencoded">

<input type="text" name="name" placeholder="name" id=""> <br>
<input type="text" name="description" placeholder="description" id=""> <br>
<input type="number" name="price" id="" placeholder="price"> <br>
<input type="text" name="enterprise" placeholder="enterprise" id=""> <br>
<input type="text" name="code" placeholder="code" id=""> <br>
<input type="text" name="thumbnail" placeholder="thumbnail" id=""> <br>
<input type="text" name="stock" placeholder="stock" id=""> <br>

<button type="submit"> Add Product </button>

</form>